<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>528534326247-91dqeedvfrre0lmbgarjlhn44o8o6mrr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.528534326247-91dqeedvfrre0lmbgarjlhn44o8o6mrr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>528534326247-0ru6ojv4pa2e6gv7sen3vjrmlrldmpsn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCHIZYM0EOcxKmt0B3OUBGZr2TdZkk2ou4</string>
	<key>GCM_SENDER_ID</key>
	<string>528534326247</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.mywallet</string>
	<key>PROJECT_ID</key>
	<string>mywallet-3000</string>
	<key>STORAGE_BUCKET</key>
	<string>mywallet-3000.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:528534326247:ios:64a2161b5d694904638b42</string>
</dict>
</plist>